.main-header{
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../../assets/headerImage.jpg') center center no-repeat fixed;
  background-size: cover;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-content{
  text-align: center;
  color: white;
}

.header-content h1{
  line-height: 1.2;
  font-size: 6.2rem;
}

.header-content p {
  line-height: 1.25rem;
  margin-bottom: 1rem;
}



.landing-btn {
  background-color: #81b71a!important;
  color: #ffffff;

}