.hero{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
              url('../../assets/headerImage.jpg') center center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.subtitle {
  color: white;
}

.buttons {
  display: flex;
  justify-content: center;
}

.modal {
  transition: opacity 1s;
}

.modal-card-head {
  text-align: center;
}

.display-block {
  display: flex;
  justify-content: center;
  visibility: visible;
  opacity: 1;
}

.display-none {
  display: flex;
  visibility: hidden;
  opacity: 0;
}

